/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
	--main-blue: #45567d;
	/* --main-gray: #303841 */
    --main-gray: #202225;
}

/*HEADER CSS */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

body {
	font-family:Poppins,sans-serif;
	--bg-color:#c8dbf8;
    --color:#252930;
    --sectioncolor:#f5f5f5;
	--buttoncolor:#047cfd;
}

.dark-mode {
	--bg-color:#252930;
    --color:#ffffff;
    --sectioncolor:#2e353f;
	--buttoncolor:#047cfd;
}

.card {
    box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
    border-radius: 8px;
}

a {
	color: var(--color);
	cursor: pointer;
}

i {
	color: var(--color);
	cursor: pointer;
}

.loading-page{
	width:100%;
	height:100vh;
	background:#fff;
	position:fixed;
	z-index:999;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* DESKTOP HEADER */
header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--color);
}
.menu-button {
    display: none;
}
.menu-item {
    display: inline-block;
    padding: 0 16px;
}
.sub-content {
    display: none;
    position: absolute;
    margin-top: 32px;
    background-color: var(--sectioncolor);
    border-top: var(--buttoncolor) 3px solid;
}
.sub-content li {
    padding: 16px;
}
/* DESKTOP HEADER */

.banner-header{
	/* BLUE : #007bff */
	height:100vh;
	background-color:var(--bg-color);
	background-position:right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.bh-reminder{
	padding:16px;
	background:var(--buttoncolor);
	color:white;
	font-size:1.5em;
	border-radius:8px;
}
.nowTime{
    padding-top: 16px;
	color:var(--color);
	font-size:2em;
}

.slider-header{
	color:var(--color);
	text-align: center;
	font-size:2em;
	background-color:var(--bg-color);
}
.slider{
	background-color:var(--bg-color);
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(9, 1fr);
	overflow:hidden;
}
.slide-img{
	padding:1em 2rem 1em 2rem;
	font-size:3em;
	text-align:center;
	cursor:pointer;
}
/* SLIDER SECTION */

/* BODY CSS */

/* FEEDBACK SECTION */
.feedback{
	padding: 10em 0;
	background:var(--bg-color);
}
.feedback-header{
	color: var(--color);
	padding-bottom:1em;
    font-size: 2em;
	text-align: center;
}

.feedback-content{
    background: var(--bg-color);
    width:100%;
    padding: 16px 32px;
}

/* ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor: pointer;
} */

.form-group{
	display:flex;
	flex-direction:column;
	margin: 0 auto 1em auto;
	max-width:360px;
}

.form-label{
	color:var(--color);
	padding-bottom:8px;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.5rem 0.5rem;
	color: var(--sectioncolor);
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea{
	min-height: 120px;
	width: 100%;
	resize: vertical;
}

#feedback-button{
    border: 0;
    background: var(--buttoncolor);
    padding: 8px;
    width: 100%;
    box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#feedback-button:hover{
	background:var(--buttoncolor);
}
/* FEEDBACK SECTION */

/* FOOTER CSS */
footer {
	font-size: 1em;
	background-color: var(--sectioncolor);
	padding: 16px;
	text-align: center;
	color:var(--color);
}
/* FOOTER CSS */

@media screen and (max-width: 720px) {
	/* MOBILE HEADER */
    header {
        display: block;
    }
    .menu-button {
        display: block;
    }
    .logo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-content {
        display: block;
        position: fixed;
        padding-bottom: 96px;
        box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
        width: 50%;
        height: 100vh;
        background-color: var(--bg-color);
        left: -100%;
        overflow-y: auto;
        transition: left 0.5s ease;
    }
    .menu-item {
        display: block;
        padding: 32px 0 0 32px;
    }
    .sub-content {
        position: relative;
        margin-top: unset;
        padding: 16px 0;
        border-top: none;
    }
    /* MOBILE HEADER */



	/* BODY CSS */

	/* BODY CSS */
}