/* BODY CSS */
.banner-header{
	/* BLUE : #007bff */
	height:100vh;
	background-color:var(--bg-color);
	background-position:right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.bh-reminder{
	padding:16px;
	background:var(--buttoncolor);
	color:white;
	font-size:1.5em;
	border-radius:8px;
}
.nowTime{
    padding-top: 16px;
	color:var(--color);
	font-size:1.5em;
}

.slider-header{
	color:var(--color);
	text-align: center;
	font-size:2em;
	background-color:var(--bg-color);
}
.slider{
	background-color:var(--bg-color);
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(9, 1fr);
	overflow:hidden;
}
.slide-img{
	padding:1em 2rem 1em 2rem;
	font-size:3em;
	text-align:center;
	cursor:pointer;
}
/* SLIDER SECTION */

/* FEEDBACK SECTION */
.feedback{
	padding: 10em 0;
	background:var(--bg-color);
}
.feedback-header{
	color: var(--color);
	padding-bottom:1em;
    font-size: 2em;
	text-align: center;
}

.feedback-content{
    background: var(--bg-color);
    width:100%;
    padding: 16px 32px;
}

/* ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor: pointer;
} */

.form-group{
	display:flex;
	flex-direction:column;
	margin: 0 auto 1em auto;
	max-width:360px;
}

.form-label{
	color:var(--color);
	padding-bottom:8px;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.5rem 0.5rem;
	color: var(--sectioncolor);
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea{
	min-height: 120px;
	width: 100%;
	resize: vertical;
}

#feedback-button{
    border: 0;
    background: var(--buttoncolor);
    padding: 8px;
    width: 100%;
    box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#feedback-button:hover{
	background:var(--buttoncolor);
}
/* FEEDBACK SECTION */
/* BODY CSS */

@media screen and (max-width: 720px) {
    /* BODY CSS */

	/* BODY CSS */
}