/* DESKTOP HEADER */
header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    width: 100%;
	box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
    background-color: var(--bg-color);
    color: var(--color);
}
.menu-button {
    display: none;
}
.menu-item {
    display: inline-block;
    padding: 0 16px;
}
.sub-content {
    display: none;
    position: absolute;
    margin-top: 32px;
    background-color: var(--sectioncolor);
    border-top: var(--buttoncolor) 3px solid;
}
.sub-content li {
    padding: 16px;
}
/* DESKTOP HEADER */
/* HEADER CSS */

@media screen and (max-width: 768px) {
	/* MOBILE HEADER */
    header {
        display: block;
    }
    .menu-button {
        display: block;
    }
    .logo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-content {
        display: block;
        position: fixed;
        padding-bottom: 96px;
        box-shadow: 0 12px 24px rgb(2 30 84 / 10%);
        width: 50%;
        height: 100vh;
        background-color: var(--bg-color);
        left: -100%;
        overflow-y: auto;
        transition: left 0.5s ease;
    }
    .menu-item {
        display: block;
        padding: 32px 0 0 32px;
    }
    .sub-content {
        position: relative;
        margin-top: unset;
        padding: 16px 0;
        border-top: none;
    }
    /* MOBILE HEADER */
}