@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*HEADER CSS */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

body {
	font-family:"Lato",ubuntu;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.loading-page{
	width:100%;
	height:100vh;
	background:#fff;
	position:fixed;
	z-index:999;
	display:flex;
	justify-content:center;
	align-items:center;
}

.header-nav{
	font-family:ubuntu;
	background-color:#393e46;
	width:100%;
	position:fixed;
	display:block;
	padding:10px;
}

.header-logo{
	color:white;
	font-size:20px;
	line-height:50px;
	margin-left:10px;
	padding:7px;
	background-color:#202225;
	border-radius:7px;
}

.menu-content{
	float:right;
	margin-right:30px;
}

.header-nav a{
	color:white;
	font-size:1em;
	padding-right:40px;
	cursor:pointer;
}

.menubtn{
	display:none;
	text-align:center;
	line-height:50px;
	width:45px;
	float:right;
	transition:.4s ease;
	font-size: 1.5em;
}

.menubtn i{
	color:white;
}

.menu-item{
	display:inline-block;
	line-height:50px;
}

.learn-item{
	display:none;
	position:absolute;
	background-color:#495057;
}

.learn-item a{
	font-size:0.9em;
	padding:0 10px;
	display:block;
}
/* HEADER CSS */

/* BODY CSS */

/* BEST GREY BACKGROUND COLOR : #303841 */

/* BANNER HEADER */
.banner-header{
	/* BLUE : #007bff */
	height:100vh;
	background-color:#202225;
	background-position:right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.bh-reminder{
	margin:20px;
	padding:20px;
	background:#495057;
	color:white;
	font-size:20px;
	border-radius:10px;
}
.nowTime{
	color:white;
	font-size:2em;
}
/* BANNER HEADER */

/* SLIDER SECTION */
.slider-header{
	color:#ffffff;
	text-align: center;
	font-size:2em;
	padding:0 3rem;
	background-color:#202225;
}
.slider{
	background-color:#202225;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	overflow:hidden;
}
.slide-img{
	padding:3rem;
	font-size:3em;
	text-align:center;
	cursor:pointer;
}
.slide-img i{
	color:#ffffff;
}
/* .fa-html5{
	color:#f06529;
}
.fa-css3-alt{
	color:#264de4;
}
.fa-js{
	color:#f0de4f;
}
.fa-github{
	color:black;
}
.fa-git{
	color:#f34f29;
}
.fa-ubuntu{
	color:#dd4814;
}
.fa-font-awesome{
	color:#1684d3;
} */
/* SLIDER SECTION */

/* BODY CSS */

/* FEEDBACK SECTION */
.feedback{
	padding-top: 10rem;
	background:#202225;
}
.feedback-header{
	color: rgb(255, 255, 255);
	margin-bottom:1rem;
    font-size: 2em;
	text-align: center;
}

.feedback-content{
    background: #202225;
    width:100%;
    padding: 20px 30px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

/* ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor: pointer;
} */

.form-group{
	display:flex;
	flex-direction:column;
	margin: 0 auto 1rem auto;
	max-width:360px;
}

.form-label{
	color:white;
	padding-bottom:10px;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.5rem 0.5rem;
	color: #495057;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea{
	min-height: 120px;
	width: 100%;
	resize: vertical;
}

#feedback-button{
    border: 0;
    background: #ff6701;
    padding: 13px;
    width: 100%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#feedback-button:hover{
	background:#d65600;
}
/* FEEDBACK SECTION */

/* FOOTER CSS */
footer {
	font-family:ubuntu;
	font-size: 13px;
	background-color: #393e46;
	padding: 20px;
	text-align: center;
	color:white;
}
/* FOOTER CSS */
@media screen and (max-width: 720px) {
	/* HEADER CSS */
	.menubtn{
		display:block;
	}
	.menu-content{
		position:fixed;
		width:100%;
		height:100vh;
		background:#393e46;
		top:70px;
		left:-100%;
		overflow:auto;
		transition:left 0.4s ease;
		padding:0 15px 0 15px;
	}
	.header-nav .menu-item{
		display:block;
	}
	.learn-item{
		position:relative;
	}
	/* HEADER CSS */



	/* BODY CSS */

	/* BODY CSS */
}