@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*HEADER CSS */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

.loading-page{
	width:100%;
	height:100vh;
	background:#fff;
	position:fixed;
	z-index:999;
	display:flex;
	justify-content:center;
	align-items:center;
}

.header-nav{
	font-family:ubuntu;
	background-color:#202225;
	width:100%;
	position:fixed;
	display:block;
	padding:10px;
}

.header-logo{
	color:white;
	font-size:20px;
	line-height:50px;
	margin-left:10px;
	padding:7px;
	background-color:black;
	border-radius:7px;
}

.menu-content{
	float:right;
	margin-right:30px;
}

.header-nav a{
	color:white;
	font-size:15px;
	padding-right:40px;
	cursor:pointer;
}

.menubtn{
	display:none;
	text-align:center;
	line-height:50px;
	width:45px;
	float:right;
	transition:.4s ease;
}

.menubtn span{
	color:white;
	font-size:20px;
}

.menubtn.click span:before{
	content:"\f00d";
}

.header-nav .menu-item{
	display:inline-block;
	line-height:50px;
}

.learn-item{
	display:none;
	position:absolute;
	background-color:rgb(24,53,97);
	box-shadow:0px 8px 16px 0px rgba(0,0,0,1);
}

.learn-item a{
	font-size:15px;
	padding:0 10px;
	display:block;
}
/* HEADER CSS */

/* BODY CSS */

/* BEST GREY BACKGROUND COLOR : #303841 */

/* BANNER HEADER */
.banner-header{
	height:100vh;
	background-color:#0061a8;
	background-position:right;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;  
}

.bh-text{
	font-family:"Caveat",cursive;
	color:black;
	font-size:40px;
}
.bh-reminder{
	padding:15px;
	background:#202225;
	font-family:"Lato",cursive;
	color:white;
	font-size:1.25rem;
}
.nowTime{
	margin-top:2rem;
	color:white;
	font-family:"Londrina Sketch",cursive;
	font-size:3rem;
}
/* BANNER HEADER */

/* BODY CSS */

/* FEEDBACK SECTION */
.feedback{
	background:#0061a8;
}
.feedback-header{
	color: black;
	margin-bottom:1rem;
    font-size: 30px;
    letter-spacing: 2px;
	text-align: center;
	font-family:ubuntu;
}

.feedback-content{
    background: #0061a8;
    width:100%;
    padding: 20px 30px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor: pointer;
}

.form-group{
	display:flex;
	flex-direction:column;
	margin: 0 auto 1rem auto;
	max-width:360px;
	font-family:ubuntu;
}

.form-label{
	color:white;
	padding-bottom:10px;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.5rem 0.5rem;
	color: #495057;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea{
	min-height: 120px;
	width: 100%;
	resize: vertical;
}

#feedback-button{
    border: 0;
    background: #01518a;
    padding: 13px;
    width: 100%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#feedback-button:hover{
	background:#044370;
}
/* FEEDBACK SECTION */

/* FOOTER CSS */
footer {
	font-family:ubuntu;
	font-size: 13px;
	background-color: #202225;
	line-height:50px;
	text-align: center;
	color:white;
}
/* FOOTER CSS */
@media screen and (max-width: 720px) {
	/* HEADER CSS */
	.menubtn{
		display:block;
	}
	.menu-content{
		position:fixed;
		width:70%;
		height:100vh;
		background:#202225;
		top:70px;
		left:-70%;
		overflow:auto;
		transition:left 0.4s ease;
		padding:0 15px 0 15px;
	}

	.menu-content.click{
		left:0;
		padding-bottom:30px;
	}

	.header-nav .menu-item{
		display:block;
	}

	.header-nav .menu-content .learn-item{
		position:relative;
	}
	/* HEADER CSS */



	/* BODY CSS */

	/* BODY CSS */
}