@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*HEADER CSS */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

[data-theme="light"] {
    --bg-color:#e2e2e2;
    --color:#333333;
    --sectioncolor:#ffffff;
}
[data-theme="dark"] {
    --bg-color:#333333;
    --color:#e2e2e2;
    --sectioncolor:#495057;
}

body {
	font-family:"Lato",Ubuntu;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

i {
	color: var(--color);
}

.loading-page{
	width:100%;
	height:100vh;
	background:#fff;
	position:fixed;
	z-index:999;
	display:flex;
	justify-content:center;
	align-items:center;
}

.header-nav{
	font-family:Ubuntu;
	background-color:var(--bg-color);
	width:100%;
	position:fixed;
	display:block;
	padding:10px 20px;
}

.header-logo{
	color:var(--color);
	font-size:20px;
	line-height:50px;
}

.menu-content{
	float:right;
	margin-right:30px;
}

.theme-switcher {
	padding-right: 40px;
}

.header-nav a{
	color:var(--color);
	font-size:1em;
	padding-right:40px;
	cursor:pointer;
}

.menubtn{
	display:none;
	text-align:center;
	line-height:50px;
	width:45px;
	float:right;
	transition:.4s ease;
	font-size: 1em;
}

.menu-item{
	display:inline-block;
	line-height:50px;
}

.learn-item{
	display:none;
	position:absolute;
	background-color:var(--sectioncolor);
}

.learn-item a{
	font-size:0.9em;
	padding:0 10px;
	display:block;
}
/* HEADER CSS */

/* BODY CSS */
.intro{
	padding:10rem 40px 5rem 40px;
	margin:0 auto;
	text-align:center;
	display:flex;
	background-color:var(--bg-color);
}
.intro img{
	width:50%;
}
.intro .slogan{
	margin:auto 0;
	font-size:2em;
	color:var(--color);
}

.tujuan{
	text-align:center;
	background-color:var(--bg-color);
	padding-bottom:10rem;
}
.tujuan .header{
	font-size:2em;
	color:var(--color);
	padding-bottom:2rem;
}
.tujuan-list{
	display:flex;
}
.tujuan .isi{
	padding:20px;
	margin:10px auto 10px auto;
	font-size:1.5em;
	color:var(--color);
	background-color:var(--sectioncolor);
}

.outro{
	text-align:center;
	background-color:var(--bg-color);
	padding-bottom:10rem;
}
.outro .mulai{
	padding:20px;
	color:#fff;
	font-size:20px;
	background-color:#185adb;
	border-radius:5px;
}

/* FOOTER CSS */
footer {
	font-family:Ubuntu;
	font-size: 13px;
	background-color:var(--sectioncolor);
	padding: 20px;
	text-align: center;
	color:var(--color);
}
/* FOOTER CSS */

@media screen and (max-width: 768px) {
	/* HEADER CSS */
	.menubtn{
		display:block;
	}
	.menu-content{
		position:fixed;
		width:100%;
		height:100vh;
		background:var(--bg-color);
		top:70px;
		left:-100%;
		overflow:auto;
		transition:left 0.4s ease;
		padding:0 15px 0 15px;
	}
	.header-nav .menu-item{
		display:block;
	}
	/* HEADER CSS */

	/* BODY CSS */
	.intro{
		flex-direction: column;
	}
	.intro img{
		width:75%;
	}
	.intro .slogan{
		font-size:1.5em;
	}

	.tujuan-list{
		flex-direction:column;
	}
	.tujuan .isi{
		font-size:1em;
	}

	.outro .mulai{
		font-size:1.2em;
	}
	/* BODY CSS */
}