@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*HEADER CSS */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

.header-nav{
	font-family:"Press Start 2P",cursive;
	background-color:#393e46;
	width:100%;
	position:fixed;
	display:block;
}

.header-logo{
	color:rgb(184,184,184);
	font-size:20px;
	line-height:50px;
	margin-left:10px;
	padding:7px;
	background-color:black;
	border-radius:7px;
}

.header-content{
	float:right;
	margin-right:20px;
}

.header-nav a{
	color:rgb(184,184,184);
	font-size:12px;
	padding-right:40px;
}

.menubtn{
	display:none;
	text-align:center;
	line-height:50px;
	width:45px;
	float:right;
	transition:.4s ease;
}

.menubtn span{
	color:rgb(184,184,184);
	font-size:20px;
}

.menubtn.click span:before{
	content:"\f00d";
}

.header-nav span.rotate{
	transform:rotate(-180deg);
}

.header-nav .header-item{
	display:inline-block;
	line-height:50px;
}

.header-nav .header-content .learn-item{
	display:none;
	position:absolute;
	background-color:rgb(24,53,97);
	box-shadow:0px 8px 16px 0px rgba(0,0,0,1);
}

.header-nav .header-content .learn-item-show.show{
	display:block;
}

.header-nav .header-content .learn-item a{
	font-size:10px;
	padding:0 10px;
	display:block;
}
/* HEADER CSS */



/* BODY CSS */
.banner-header{
	height:100vh;
	background-image:url("Images/banner-header.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;  
}

.bh-text{
	font-family:"Caveat",cursive;
	color:#1a2e64;
}
.bh-emoji{
	color:white;
	font-size:2em;
}
#bh-days{
	margin-top:2rem;
	padding:.5rem .5rem;
	border-radius:2px;
	background:#f88f01;
	font-family:"Lato",cursive;
	font-size:1.25rem;
	box-shadow:5px 5px;
}
#nowTime{
	margin-top:2rem;
	color:white;
	font-family:"Londrina Sketch",cursive;
	font-size:3rem;
}

.whoami{
	height:100vh;
	background-color:#45567d;
}

.whatfeatures{
	height:100vh;
	background-color:#303841;
}

.ourcontent{
	height:100vh;
	background-color:#0f4c75;
}

.bonus{
	height:100vh;
	background-color:#303841;
}
/* BODY CSS */



/* FOOTER CSS */
footer {
	font-family: "Press Start 2P",cursive;
	font-size: 12px;
	background-color: #393e46;
	line-height:50px;
	text-align: center;
	color:rgb(184, 184, 184);
}
/* FOOTER CSS */
@media (max-width: 720px) {
	/* HEADER CSS */
	.menubtn{
		display:block;
	}
	.header-content{
		position:fixed;
		width:70%;
		height:100vh;
		background:#21466b;
		top:50px;
		left:-70%;
		overflow:auto;
		transition:left 0.4s ease;
		padding:0 15px 0 15px;
	}

	.header-content.click{
		left:0;
		padding-bottom:30px;
	}

	.header-nav .header-item{
		display:block;
	}

	.header-nav .header-content .learn-item{
		position:relative;
	}
	/* HEADER CSS */



	/* BODY CSS */
	.banner-header{
		background-position:right;
	}
	/* BODY CSS */
}