@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

header {
	font-family: "Press Start 2P", cursive;
	background-color: #393e46;
	text-align: center;
	padding: 30px;
	font-size: 27px;
	color: #ffffff;
}

.Navbar {
	font-family: "Gochi Hand", cursive;
	font-size: 20px;
	float: left;
	width: 10%;
}

.Nav_Content {
	text-align: center;
	padding: 0;
}

.Nav_Content:link, .Nav_Content:visited {
	width: 100%;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
  }
  
.Nav_Content:hover, .Nav_Content:active {
	background-color: #2d4f9e;
	color: white;
  }

.notFound_Img {
	text-align: center;
	width: 277;
	height: 841;
}

.Article_Beranda {
	font-family: "Caveat", cursive;
	float: left;
	padding: 20px;
	width: 90%;
	background-color: #6478a5;
	height: auto;
}

.Article_Beranda_Title {
	margin: 10px;
	font-size: 40px;
	text-align: center;
}

.Article_Beranda_Img {
	text-align: center;
	display: block;
}

.Article_Beranda_Source {
	text-decoration: none;
	font-size: 30px;
	color: black;
}

.Article_Beranda_Conclusion {
	text-align: center;
	font-size: 40px;
}

.Article_Beranda_MeetCortex {
	text-align: center;
	border-style: dashed;
	padding: 0;
	margin-bottom: 30px;
	background-color: #2d4f9e;
}

.Article_Beranda_MeetCortex_a {
	width: 100%;
	font-size: 30px;
	text-decoration: none;
	color: #1da2ca;

}

section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	font-family: "Press Start 2P";
	font-size: 9px;
	background-color: #393e46;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}

@media (max-width: 720px) {
	.Navbar, .Article_Beranda {
		width: 100%;
		height: auto;
	}
}